BROKER_GRPC_ENDPOINT=http://localhost:5056
BROKER_GRPC_WEB_ENDPOINT=http://localhost:9056
BROKER_GRPC_CLIENT_ID=client.softwarealgo.com
IDLE_TIME_OUT_MINUTES=5
#BROKER_MOBILE_VERSION=""
SUPPORT_ADDRESS=http://192.168.254.104:50051
SUPPORT_WEB_ADDRESS=http://192.168.254.104:8080
SUPPORT_CLIENT_ID=c3b9f5a8-7e4f-4a2d-9d9d-2f6f3b8f4c1a
SUPPORT_IMAGES_LINK=https://support.softwarealgo.com/user-guide/image